body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: center;
}

    /* НАВІГАЦІЯ */

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    display: grid;
    width: 200px;
    height: 70px;
    align-content: center;
    padding-left: 20px;
}

#logo img {
    width: 100%;
}

#logo p {
    font-size: 0.87em;
    margin: 0;
}


.push {
    margin-left: auto;
    /* background-color: gainsboro; */
    border-radius: 10px;
}

li {
    padding: 10px 30px;
}

a {
    color: #e27217;
    text-decoration: none;    
}

li a:hover {
    color: blue;
}

.navbar {
    font-size:2em;
    transition: all 0.3s linear;
    background-color: white;
}

    /* DROPDOWN MENU */

    .dropbtn {
        background-color: white;
        color: #e27217;
        /* padding: 16px; */
        font-size: 1.1em;
        border: none;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 100;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {        
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 250px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
      }

      .dropdown-content2 {
        display: none;
        position: absolute;
        font-size: 0.8em;
        background-color: #f1f1f1;
        min-width: 350px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 50%;
        right: auto;
        transform: translateX(-75%);
        
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}

      .dropdown-content2 p:hover {
          color: blue;          
        }
      
      .dropdown:hover .dropdown-content, .dropdown:hover .dropdown-content2 {display: block;}
      
      .dropdown:hover .dropbtn {color: blue;}

    /* SENDWICH MENU */
    
label {
    margin: 0 30px 0 0;
    font-size: 26px;
    line-height: 70px;
    color: coral;
    display: none;
}

#toggle {
    display: none;
}
    
      /* ВИДИ ПАКЕТІВ */

.container {    
    margin-top: 100px;
    margin-right:10%;
    margin-left: 10%;
}

.grid-wrapper {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid {
    /* border: blue solid 2px; */
    border-radius: 2em;
    text-align: center;
    padding: 20px;
    transition: all 0.3s linear;  
}

.type {
    width: 100%;
}

.button {
	border-radius: 10px;
	/* background-color: tomato; */
	font-size: 1.2rem;
	border: none;
	padding: 15px 50px;
	color: blue;
	transition-duration: 0.4s;
	position: relative;	
}

button:focus {
	outline: 0;
}

h3 {
    font-size: 2.2em;
    text-align: center;
    color: #335264;
    margin-bottom: 1rem;
    font-weight: 400;
}

h1 {   
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0.2em;
}

.paket > img{
    width: 250px;
}

.paket {
    padding: 10px;
    text-align: center;
}

.grid:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/* .grid:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
} */

/* LIST */

.list > li{
    color: #335264;    
}

.grid-wrapper2 {
    display: grid;
    grid-gap: 150px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));  
    text-align: center;
    margin-bottom: 50px;
}

.grid2 {
    border: #e27217 solid 5px;
    border-radius: 2em;
    text-align: center;   
}

.grid2 > img {
    padding: 10px;
    height: 40px;
}

.grid2 p {
    padding: 0 10px;
}

.hr1 {
    width: 80%;
}

.hr2 {
    width: 60%;
}

.hr3 {
    width: 40%;
}

    h2 {
        font-size: 35px;
    }
    
    .pervyr {
        font-size: 20px;   
    }
    
    #img1 {
        margin-top: 17px;
      }
    #img3 {
        margin-top: 18px;
    }
    #img4 {
        margin-top: 14px;
    }
    #img6 {
        margin-top: 13px;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin-top: 50px;
        margin-bottom: 50px;
        grid-gap: 20px;
      }
    
    .grid-item {
        font-size: 30px;
        text-align: center;
    }



/* FOOTER */

.contacty {
    display: flex;
    list-style: none;
    font-size: 1.1em;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#last {
    font-size: 2.2em;
    text-align: center;
    color: #335264;
    margin-bottom: 1rem;
    font-weight: 400;
}

footer {
    background-color: rgb(248, 248, 248);
}

@media only screen and (max-width: 1050px) {
    li {
        padding: 10px 25px;
    }
}

@media only screen and (max-width: 1010px) {
    .main-nav {
        font-size: 0.7em;
    }
    li {
        padding: 10px 20px;
    }
    .dropbtn, .main-nav a {
        font-size: 0.9em;
    }    
}

@media only screen and (max-width: 850px) {
    /* .main-nav {
        font-size: 0.6em;
        padding: 0;
    } */
    /* li {
        padding: 10px 15px;
    }  */
}
    @media only screen and (max-width: 680px) {
        .main-nav {
            font-size: 0.6em;
            padding: 0;
        }
        li {
            padding: 10px 10px;
        }
        #logo {
            width: 150px;
        }
        #logo p {
            font-size: 0.65em;
        }
    }


    label {
        display: block;
        cursor: pointer;
    }
    .nav{
        border-bottom: 1px solid #eaeaeb;
        text-align: right;
        height: 70px;
        line-height: 70px;
    }
    .menu {
        margin: 0 30px 0 0;
    }

    .menu a {
        font-size: 1.2em;
        clear: right;
        text-decoration: none;
        margin: 0 10px;
        line-height: 70px;        
    }

    label {
        margin: 0 40px 0 0;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }

    #toggle {
        display: none;
    }

    @media only screen and (max-width: 640px) {
        label {
            display: block;
            cursor: pointer;
        }
        .menu {
            text-align: center;
            width: 100%;
            display: none;
        }
        .menu a {
            display: block;
            border-bottom: 1px solid #eaeaeb;
            margin: 0;
            background-color: white;
        }
        #toggle:checked + .menu {
            display: block;
            /* background-color: white; */
        }        
        .container {
            margin-top: 250px
        }
    }






