	
	/* Вся сторінка */

.page-container {
	width: 98%;
	height: 3735px;
	margin-left: 1%;
	margin-top: 0px;	
}

a {
	color: #cdcdcd;
}

h2 {
	font-family: Georgia;
	font-size: 35px;
}


	/* Заголовог - Екополімер */

.ecopolimer {
	width: 98%;
	height: 700px;
	margin-left: 1%;
	margin-top: 0px;
	background-image: url("../images/headBackgr.png");
}



#polimer1 {	
	position: absolute;	
	text-align: left;
	margin-left: 10%;
	margin-top: 50px;
}
#polimer1 h1{
	margin: 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #f1cdb3;
	font-size: 40pt;
}

#polimer1 p{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 15pt;
}

#polimer2 {
	position: absolute;
	width: 480px;	
	text-align: left;
	margin-left: 10%;
	margin-top: 450px;
}

#polimer2 p{
	color: white;
}

.grid {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	height: 30px;
	position: absolute;
	right: 10%;
	margin-top: 65px;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;	
}

.item {	
	position: relative;	
	text-align: center;
}


	/* Про нас */

#pronas {
	width: 98%;
	height: 700px;
	margin-left: 1%;
	display: flex;	
	background-color: white;	
}

#stanok {
	/* margin-right: 15%; */
	margin-left: 10%;
	margin-top: 150px;
}

#stanok img{
	width: 500px;
}

#description {	
	margin-top: 150px;
	width: 300px;
	text-align: justify;
	margin-left: 100px;
}


	/* Наша продукція */

.product {
	width: 98%;
	height: 700px;
	margin-left: 1%;	
	background-color: #f6f6f6;
}

#nashprod, #per2 {
	position: relative;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}

#pak-grid {
	display: grid;
	position: absolute;
	grid-template-columns: 250px 250px 250px;
	grid-template-rows: 425px;
	grid-gap: 25px;
	left: 50%;
	margin-left: -390px;
	margin-top: 50px;
}

.pakety {	
	position: relative;
	background-color: white;
	border-radius: 25px;	
	text-align: center;
}

.text {
	
	font-size: 20px;
	width: 250px;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

.img {
	height: 250px;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

.button {
	border-radius: 10px;
	background-color: tomato;
	font-size: 16px;
	border: none;
	padding: 15px 50px;
	color: white;
	transition-duration: 0.4s;
	position: relative;	
}

button:focus {
	outline: 0;
}


	/* Переваги роботи з нами */

#perevagy {
	width: 98%;
	height: 700px;
	margin-left: 1%;	
	background-color: white;
}

.pervyr {
	font-size: 20px;   
}

#img1 {
	margin-top: 17px;
  }
#img3 {
	margin-top: 18px;
}
#img4 {
	margin-top: 14px;
}
#img6 {
	margin-top: 13px;
}

.grid-container {
	display: grid;
	grid-template-columns: 250px 250px 250px;
	height: 400px;
	position: absolute;
	left: 50%;
	margin-top: 140px;
	margin-left: -375px;
  }

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);	
	position: relative;
	font-size: 30px;
	text-align: center;
}


	/* Еко-пакет */

.eco {
	width: 98%;
	height: 430px;
	margin-left: 1%;	
	background-color: #f6f6f6;
}
	
#bio {
	position: absolute;
	width: 200px;
	height: 300px;
	text-align: center;
	margin-left: 25%;
	margin-top: 60px;
}
	
#ecopaket {
	position: absolute;
	width: 480px;
	height: 300px;
	text-align: left;
	margin-left: 50%;
	margin-top: 50px;
}



.button2 {
	border-radius: 10px;
	background-color: tomato;
	font-size: 16px;
	border: none;
	padding: 15px 50px;
	color: white;
	transition-duration: 0.4s;
}

.button1 {
	border-radius: 10px;
	background-color: tomato;
	border: none;
	padding: 15px 50px;
	color: white;
	transition-duration: 0.4s;
	font-size: 24px;
}

button:hover {
	background-color: wheat;
	color: black;
}



	/* Контакти */

.kontacty {
	width: 98%;
	height: 270px;
	margin-left: 1%;	
	background-image: url("../images/footer.png");	
}

.kontacty h2 {
	margin: 0;
	padding: 20px;
	text-align: center;
}

.lg-item p {
	margin: 0;
	text-align: left;
}

#lastgrid {
	display: grid;
	position: absolute;
	grid-template-columns: auto 200px auto 200px auto 200px;
	grid-template-rows: auto;	
	grid-gap: 15px;
	left: 50%;
	margin-left: -390px;
	text-align: center;	
	margin-top: 60px;
}

.lg-item {	
	position: relative;
	margin: 0;
	text-align: left;	
}
