body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 100;
}
    
     /* НАВІГАЦІЯ */

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    justify-content: center;
    align-items: center;
}
    
#eco {
    width: 200px;
}
    
.push {
    margin-left: auto;
}
    
li {
    padding: 10px 30px;
}

li p {
    margin: 0;
    color: gray;
    font-size: 0.7em;
    text-align: center;
}
    
a {
    color: gray;
    text-decoration: none;    
}

.main-nav a:hover {
    color: blue;
}
    
.navbar {
    font-size:2em;
    transition: all 0.3s linear;
    background-color: white;
    text-align: center;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32pt;
    color: #12a714;
    text-align: center;
    margin: 60px
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32pt;
    color: #12a714;
    text-align: center;
}

p {
    font-size: 14pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin-bottom: 25px;
}

#page-container {
    margin-left: 10%;
    margin-right: 10%;  
}

#bio {
    display: inline-flex;
    
}
#bio img {
    width: 300px;
}

#bio_description {
    margin-left: 100px;
    
}

.button {
	border-radius: 10px;
	background-color: tomato;
	font-size: 16px;
	border: none;
	padding: 15px 50px;
	color: white;
	transition-duration: 0.4s;
	position: relative;	
}

button:focus {
	outline: 0;
}

button:hover {
	background-color: wheat;
	color: black;
}

/* FOOTER */

.contacty {
    display: contents;
    list-style: none;
    font-size: 1.1em;
}

.contacty li {
    padding: 5px;
    color: honeydew;
}

footer {
    width: 100%;
    height: 500px;
    background-image: url(img/city2.jpg);
    background-size: 100% 100%;
    text-align: center;
}

footer h3 {
    padding-top: 360px;
    color: honeydew;
    margin-bottom: 5px;
    margin-bottom: 5px;
    font-weight: 400;
}

@media only screen and (max-width: 1285px) {
    footer {
        background-size: cover;
    }
}


@media only screen and (max-width: 1050px) {
    li {
        padding: 10px 25px;
    }
}

@media only screen and (max-width: 1010px) {
    .main-nav {
        font-size: 0.7em;
    }
    li {
        padding: 10px 20px;
    }
    .main-nav a {
        font-size: 0.9em;
    }      
}

@media only screen and (max-width: 795px) {
    .main-nav {
        font-size: 0.6em;
        padding: 0;
    }
    li {
        padding: 10px 10px;
    }
    #eco{
        width: 150px;
    }
    #logo p {
        font-size: 0.65em;
    }
} 
    

@media only screen and (max-width: 600px) {
    .main-nav {
        display: block;
    }
    .main-nav li {
        border-bottom: 1px solid rgb(179, 179, 187);
    }
}