html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }


body {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    background-image: url(img/grey.jpg);
    background-size: 100% 100%;
}

    /* НАВІГАЦІЯ */

.nav a{
    color: #0ba42d;
    text-transform: uppercase;
    font-weight: bold;
}
#tel a{
    color: ivory;
    background-color: #0ba42d;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
}
.main-nav {
    display: flex;
    list-style: none;
    font-size: 2vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
    padding-left: 10%;
}    
#eco {
    height: 4vh;
}    
.push {
    margin-left: auto;
    /* padding-right: 150px; */
}    
li {
    padding: 10px 20px;
}

a {
    /* color: gray; */
    text-decoration: none;    
}
.main-nav a:hover {
    color: rgb(14, 102, 6);
}

#tel a:hover{
    color: rgb(14, 102, 6);
    background-color: transparent;
}
.navbar {
    font-size:1.5em;
    transition: all 0.3s linear;
    padding-top: 3vh;
}

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: olive;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .nav:hover .dropdown-content {display: block;}

 
.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
}
.text{
    color: #0ba42d;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    font-size: 6vh;
    margin: 0.2em;
}
.grid-wrapper img{
    height: 50vh;
}
#container {
    margin-top: 15vh;
}
#textbox{
    border-left: solid 2px lightgray;
    padding-left: 20px;
}
#text-wrapper {
    align-self: center;
}
#image-wrapper {
    text-align: end;
}

@media only screen and (max-width: 1130px) {
    .main-nav {
        padding-right: 10px;
    } 
}

@media only screen and (max-width: 1090px) {
    .main-nav {
        /* font-size: 0.7em; */
    }
    li {
        padding: 10px 20px;
    }
    .main-nav a {
        /* font-size: 0.9em; */
    }  
    .main-nav {
        padding-right: 10px;
    }
    .push {
        /* padding-right: 100px; */
    }    
}

@media only screen and (max-width: 970px) {
    .push {
        /* padding-right: 50px; */
    } 
}

@media only screen and (max-width: 920px) {
    
    li {
        padding: 10px 8px;
    }
    #eco{
        /* width: 180px; */
    }
} 

@media only screen and (max-width: 800px) {
   
    .main-nav {
        /* font-size: 0.65em; */
    }
    .text {
        /* font-size: 2em; */
    }
    .grid-wrapper img{
        /* width: 250px; */
    }
}

@media only screen and (max-width: 740px) {
    
    .main-nav {
        /* font-size: 0.60em; */
    }
    #eco{
        /* width: 150px; */
    }
    #tel a {
        /* font-size: 1em; */
    }
    .push {
        /* padding-right: 35px; */
    } 
}

@media only screen and (max-width: 650px) {
    #eco{
        height: 3vh;
    }
    .main-nav {
        display: block;
        padding: 0;
    }
    #image-wrapper {
        text-align: center;
    }
    .main-nav li {
        border-bottom: 1px solid rgb(179, 179, 187);
        margin-left: 20%;
        margin-right: 20%;
    }
    .grid-wrapper img{
        /* width: 100%; */
    }
    #container {
        margin-top: 50px;
    }
    .grid-wrapper {
        grid-template-columns: 250px;
        grid-gap: 50px;
        justify-content: center;
    }
    .push {
        /* padding-right: 0; */
    }
}
@media only screen and (max-width: 400px) {
    .grid-wrapper {
        grid-template-columns: 200px;
    }
    .text {
        font-size: 3vh;
    }
}