html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    background-image: url(img/grey.jpg);
    background-size: 100% 100%;
}

.list a{
    color: #0ba42d;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    padding: 1em 0 1em 1.5em;
    text-decoration: none;
}

#menu {
    justify-content: flex-end;
    display: inline-flex;
}

#logo, #menu {
    align-self: center;
}

#eco {
    height: 2em;
    align-self: end;
}
.list{
    display: contents;
}

#menu a:hover {
    color: rgb(14, 102, 6);
}

.navbar {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: 5em 5em;
    grid-column-gap: 5%;
}
  .dropdown-content, .dropdown-content2 {
    color: olive;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 20%;
    margin-top: 4em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all 1s ease-in;
  }

.dropdown-content {
    left: 50%;
}
  .dropdown-content a, .dropdown-content2 p {
    color: olive;
    text-transform: unset;
    font-weight: unset;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
    border-bottom: unset;
  }

.dropdown-content a:hover, .dropdown-content2 p:hover {
    background-color: #ddd;
}
  
#prod:hover .dropdown-content, #cont:hover .dropdown-content2 {
    display: block;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.text{
    color: #0ba42d;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    font-size: 3.5em;
    margin: 0;
}

img{
    height: 30em;
}

#textbox{
    border-left: solid 3px lightgray;
    padding-left: 2%;
}

#text-wrapper {
    align-self: center;
}

#image-wrapper {
    text-align: end;
}

@media only screen and (max-width: 1025px) {
    img {
        height: 25em;
    }
    .text {
        font-size: 3em;
    }
}

@media only screen and (max-width: 840px) {
    img {
        height: 20em;
    }
    .text {
        font-size: 2.5em;
    }
    #menu a {
        font-size: 1em;
    }
}

@media only screen and (max-width: 650px) {
    #prod:hover .dropdown-content, #cont:hover .dropdown-content2 {
        position: relative;
      }
    .navbar{
        display: block;
    }
    #logo {
        padding-top: 2.5em;
        padding-bottom: 1em;
    }
    .dropdown-content, .dropdown-content2 {
        left: unset;
        position: relative;
        margin-top: 0;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1em;
    }
    .list a {
        padding: 1em 0 1em 0;
    }
    #menu {
        display: grid;
        justify-content: unset;
    }
    a {
        padding: 0.5em;
        margin: 0 10%;
        border-bottom: solid 2px darkgray;
    }
    #image-wrapper {
        text-align: center;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    #text-wrapper {
        margin-bottom: 5em;
    }
    #container {
        margin-top: 50px;
    }
    .grid-wrapper {
        grid-template-columns: 250px;
        grid-gap: 50px;
        justify-content: center;
    }
    .text {
        font-size: 2em;
        text-align: center;
    }
}
